<head>
  <%- include('../shared/head.ejs') %>
</head>
<body>
  <div>
    <h1 class="text-secondary text-center p-2 display-1">Order</h1>
    <div class="container-sm">
      <% if (typeof errors !== "undefined") { for (let error of errors){%>

      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Invalid Format!</strong> <%= error.param%> | <%= error.msg %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      <% } }%> <%- include('../shared/form.ejs') %> <%-
      include('../shared/footer.ejs') %>
    </div>
  </div>
  <%- include('../shared/footer-scripts.ejs') %>
</body>
